# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)



# Combine the data into a single DataFrame


# Display the data table for preview

In [2]:
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [3]:
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

# Prepare the Data

# 1. The datasets are merged into a single DataFrame.

In [4]:
# Combine the data into a single DataFrame 
# use left join to ensure all meta data has study results

mouse_merge_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="left")
mouse_merge_outer_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer")

# Display the data table for preview

print("left join mouse results:\n", mouse_merge_df)
print("outer join mouse results:\n", mouse_merge_outer_df)

left join mouse results:
      Mouse ID Drug Regimen   Sex  Age_months  Weight (g)  Timepoint  \
0        k403     Ramicane  Male          21          16          0
1        k403     Ramicane  Male          21          16          5
2        k403     Ramicane  Male          21          16         10
3        k403     Ramicane  Male          21          16         15
4        k403     Ramicane  Male          21          16         20
...       ...          ...   ...         ...         ...        ...
1888     z969     Naftisol  Male           9          30         25
1889     z969     Naftisol  Male           9          30         30
1890     z969     Naftisol  Male           9          30         35
1891     z969     Naftisol  Male           9          30         40
1892     z969     Naftisol  Male           9          30         45

      Tumor Volume (mm3)  Metastatic Sites
0              45.000000                 0
1              38.825898                 0
2              35.014271                 1
3              34.223992                 1
4              32.997729                 1
...                  ...               ...
1888           63.145652                 2
1889           65.841013                 3
1890           69.176246                 4
1891           70.314904                 4
1892           73.867845                 4

[1893 rows x 8 columns]
outer join mouse results:
      Mouse ID Drug Regimen     Sex  Age_months  Weight (g)  Timepoint  \
0        a203    Infubinol  Female          20          23          0
1        a203    Infubinol  Female          20          23          5
2        a203    Infubinol  Female          20          23         10
3        a203    Infubinol  Female          20          23         15
4        a203    Infubinol  Female          20          23         20
...       ...          ...     ...         ...         ...        ...
1888     z969     Naftisol    Male           9          30         25
1889     z969     Naftisol    Male           9          30         30
1890     z969     Naftisol    Male           9          30         35
1891     z969     Naftisol    Male           9          30         40
1892     z969     Naftisol    Male           9          30         45

      Tumor Volume (mm3)  Metastatic Sites
0              45.000000                 0
1              48.508468                 0
2              51.852437                 1
3              52.777870                 1
4              55.173336                 1
...                  ...               ...
1888           63.145652                 2
1889           65.841013                 3
1890           69.176246                 4
1891           70.314904                 4
1892           73.867845                 4

[1893 rows x 8 columns]

In [5]:
mouse_merge_outer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893 entries, 0 to 1892
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1893 non-null   object
 1   Drug Regimen        1893 non-null   object
 2   Sex                 1893 non-null   object
 3   Age_months          1893 non-null   int64
 4   Weight (g)          1893 non-null   int64
 5   Timepoint           1893 non-null   int64
 6   Tumor Volume (mm3)  1893 non-null   float64
 7   Metastatic Sites    1893 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 118.4+ KB

In [6]:
mouse_merge_outer_df.count()

Mouse ID              1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [7]:
mouse_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893 entries, 0 to 1892
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1893 non-null   object
 1   Drug Regimen        1893 non-null   object
 2   Sex                 1893 non-null   object
 3   Age_months          1893 non-null   int64
 4   Weight (g)          1893 non-null   int64
 5   Timepoint           1893 non-null   int64
 6   Tumor Volume (mm3)  1893 non-null   float64
 7   Metastatic Sites    1893 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 118.4+ KB

In [8]:
mouse_merge_df.count()

Mouse ID              1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [9]:
mouse_merge_df.head(51)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
20,x401,Capomulin,Female,16,15,0,45.000000,0
21,x401,Capomulin,Female,16,15,5,45.473753,0
22,x401,Capomulin,Female,16,15,10,39.113891,0
23,x401,Capomulin,Female,16,15,15,39.776250,0
24,x401,Capomulin,Female,16,15,20,36.065835,0
25,x401,Capomulin,Female,16,15,25,36.617120,0
26,x401,Capomulin,Female,16,15,30,32.915292,0
27,x401,Capomulin,Female,16,15,35,30.206825,0
28,x401,Capomulin,Female,16,15,40,28.167397,0
29,x401,Capomulin,Female,16,15,45,28.484033,0
30,m601,Capomulin,Male,22,17,0,45.000000,0
31,m601,Capomulin,Male,22,17,5,41.408591,1
32,m601,Capomulin,Male,22,17,10,36.825367,1
33,m601,Capomulin,Male,22,17,15,35.464612,1
34,m601,Capomulin,Male,22,17,20,34.255732,1
35,m601,Capomulin,Male,22,17,25,33.118756,1
36,m601,Capomulin,Male,22,17,30,31.758275,1
37,m601,Capomulin,Male,22,17,35,30.834357,1
38,m601,Capomulin,Male,22,17,40,31.378045,1
39,m601,Capomulin,Male,22,17,45,28.430964,1
40,g791,Ramicane,Male,11,16,0,45.000000,0
41,g791,Ramicane,Male,11,16,5,45.851531,0
42,g791,Ramicane,Male,11,16,10,40.170558,0
43,g791,Ramicane,Male,11,16,15,40.678129,0
44,g791,Ramicane,Male,11,16,20,41.211897,0
45,g791,Ramicane,Male,11,16,25,35.569399,1
46,g791,Ramicane,Male,11,16,30,34.952583,1
47,g791,Ramicane,Male,11,16,35,30.960392,1
48,g791,Ramicane,Male,11,16,40,31.369406,1
49,g791,Ramicane,Male,11,16,45,29.128472,1
50,s508,Ramicane,Male,1,17,0,45.000000,0

In [10]:

# there are no study results without metadata.
# Conclusion: there is no difference between the outer join dataframe and the left join dataframe

# 2.The number of mice are shown from the merged DataFrame

In [11]:
# Checking the number of mice.  This is ambiguous.

mice_datapoint_count = len(mouse_merge_df)
mice_studied = mouse_merge_df["Mouse ID"].nunique()
print(f"number of mouse datapoints collected: {mice_datapoint_count}")
print(f"number of mice identified: {mice_studied}")

number of mouse datapoints collected: 1893
number of mice identified: 249

# 3.Each duplicate mice is found based on the Mouse ID and Timepoint.

In [12]:
# Set the index of the DataFrame to be the combination of 'Mouse ID' and 'Timepoint'
mouse_merge_df.set_index(['Mouse ID', 'Timepoint'], inplace=False)
print(f"Index by ID & Timepoint:\n {mouse_merge_df}")

# Get the duplicate mouse entries by searching for duplicates in the index
# No need to specify subset since 'Mouse ID' and 'Timepoint' are now the index
duplicate_mice_data = mouse_merge_df[mouse_merge_df.index.duplicated(keep=False)]

# Get the unique Mouse IDs for which duplicate Timepoints exist using the index
duplicate_mouse_ids = duplicate_mice_data.index.get_level_values('Mouse ID').unique()
print(f"Duplicate mouse IDs:\n {duplicate_mouse_ids}")

# Display the duplicate mouse data entries
print(f"Duplicate mouse data entries:\n {duplicate_mice_data}")

Index by ID & Timepoint:
      Mouse ID Drug Regimen   Sex  Age_months  Weight (g)  Timepoint  \
0        k403     Ramicane  Male          21          16          0
1        k403     Ramicane  Male          21          16          5
2        k403     Ramicane  Male          21          16         10
3        k403     Ramicane  Male          21          16         15
4        k403     Ramicane  Male          21          16         20
...       ...          ...   ...         ...         ...        ...
1888     z969     Naftisol  Male           9          30         25
1889     z969     Naftisol  Male           9          30         30
1890     z969     Naftisol  Male           9          30         35
1891     z969     Naftisol  Male           9          30         40
1892     z969     Naftisol  Male           9          30         45

      Tumor Volume (mm3)  Metastatic Sites
0              45.000000                 0
1              38.825898                 0
2              35.014271                 1
3              34.223992                 1
4              32.997729                 1
...                  ...               ...
1888           63.145652                 2
1889           65.841013                 3
1890           69.176246                 4
1891           70.314904                 4
1892           73.867845                 4

[1893 rows x 8 columns]

KeyError: 'Requested level (Mouse ID) does not match index name (None)'

In [ ]:
# Optional: Get all the data for the duplicate mouse ID. 
# Find all duplicate entries based on 'Mouse ID' and 'Timepoint', marking all duplicates as True
duplicate_mice_data

In [ ]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
# Filter out the duplicates for 'g989' based on 'Mouse ID' and 'Timepoint'

In [ ]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary DataFrame.

In [ ]:
# A more advanced method to generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen (only one method is required in the solution)

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using Pandas.

In [ ]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes

    
    # add subset 

    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot that shows the distrubution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a single mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight vs. the average observed tumor volume for the entire Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and a linear regression model 
# for mouse weight and average observed tumor volume for the entire Capomulin regimen